.container{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
  
}

.sideHeader{
  display: flex;
  align-items: center;
  justify-content: space-around;

  flex-direction: column;

  padding: 5vh 30px;
  text-align: center;
  height: 100vh;
  flex: 1;
  max-width: 960px;
  background-color: var(--blue-500);
  h1 {
    font-size: 60px;
    color: var(--white);
  }

  h2 {
    font-size: 32px;
    line-height: 38px;
    color: var(--gray);
  }

  img {
    height: 30%;
  }
}

.register {
  display: flex;
  align-items: left;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  padding: 5vh 150px;

  img {
    display: block;
    max-height:50px;
    max-width: 200px;
    width: auto;
    height: auto;
  }

  h2 {
    font-size: 42px;
    line-height: 48px;
    color: var(--black);
  }
  button {
    background-color: var(--gray-light);
    border: 1px solid var(--blue-light);
    border-radius: 8px;
    height: 3rem;

    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1rem;

    width: 80%;
    svg {
      margin-right: 16px;
      font-size: 1.5rem;
    }
  }
}
