*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --blue-dark: '#267EBE';
  --blue-light: '#408DC5';
  --white: '#FAFAFA';
  --gray: 'rgba(250, 250, 250, 0.66)';
  --black: '#20232B';
  --red: '#E53E3E';
};

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


h1, h2, h3 {
  font-weight: 500;
}
