* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --blue-dark: #267EBE;
  --blue-light: #408DC5;
  --blue-500: #2290E0;
  --blue-100: #F3F7FF;
  --blue-200: #E1EBFF;
  --white: #FAFAFA;
  --gray: rgba(250, 250, 250, 0.66);
  --gray-light: #F2F4FF;
  --gray-dark: #8089AB;
  --black: #192A3E;
  --red: #E53E3E;
};

html,
body {
  padding: 0;
  margin: 0;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body,
input,
textarea,
button,
select {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}


h1,
h2,
h3 {
  font-weight: 500;
}

h3 {
  text-align: left;
  width: 100%;
}

input,
textarea {
  font-weight: 300;
  color: var(--white);
  &:focus {
    outline: none;
  }
}

button,
a {
  cursor: pointer;
}
