.header {
  background-color: var(--blue-dark);
  color: var(--white);

  border-radius: 0 0 20px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  padding: 40px 30px;

  h1 {
    margin-bottom: 20px;
  }

  position: relative;
  
}

.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  & svg {
    font-size: 24px;
  }

  & > svg {
    position: absolute;
    top: 40px;
    right: 40px
  }
}
