.main {
  padding: 50px 20px;
  height: 72vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  h2 {
    margin: 0 auto 20px;
    text-align: left;
  }
}
