.form{
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--blue-light);
  border-radius: 10px;
  width: 100%;

  padding: 16px 20px;

  & svg {
    margin-right: 1rem;
  }

  input, textarea{
    border: none;
    background: transparent;
    flex: 1;
    &::placeholder {
      color: var(--gray)
    }
  }

  &+form{
    margin-top: 20px;
  }

}
